<div class="header">
  <nav class="navigation-bar w-full bg-yellow-400 flex justify-center h-12 items-center rounded-sm px-10">
    <a href="" class="text-black font-bold flex items-center hover:text-white">See a gambling addiction in real life</a>
   </nav>
</div>
<div class="container w-8/12 mx-auto">
  <div class="main-content-container flex justify-between">
  <div class="addiction-selector w-3/12 h-96 bg-slate-100 mt-6 rounded">
    <nav class="flex justify-center items-center h-full ">
        <a href="/" class="text-white px-5 py-3 bg-red-600 rounded hover:opacity-95 mt-5 block text-center">Back to the menu</a>
    </nav>
  </div>
  <div class="addiction-selector w-8/12 h-96 bg-slate-100 mt-6 rounded grid grid-cols-2 gap-4 grid-rows-2 p-5">
    <div class="w-full bg-slate-200 rounded">
      <div class="w-full bg-slate-200 rounded flex justify-center items-center">
        <iframe class="w-full h-full px-2 py-3" src="https://www.youtube.com/embed/G6CXHUJyZNg?list=PLlT1hSoitj5Q6xtF3u5avin0g1IgA0sk-" title="Anne Evans - a gambling-related suicide story" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="w-full bg-slate-200 rounded flex justify-center items-center">
      <iframe class="w-full h-full px-2 py-3" src="https://www.youtube.com/embed/F8jgP7GdpoY?list=PLlT1hSoitj5Q6xtF3u5avin0g1IgA0sk-" title="Matthew - a gambling addiction story" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="w-full bg-slate-200 rounded">
      <div class="w-full bg-slate-200 rounded flex justify-center items-center">
        <iframe class="w-full h-full px-2 py-3" src="https://www.youtube.com/embed/_uC80XYzEXQ?list=PLlT1hSoitj5Q6xtF3u5avin0g1IgA0sk-" title="Chris Murphy - my gambling addiction story" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="w-full bg-slate-200 rounded">
      <div class="w-full bg-slate-200 rounded flex justify-center items-center">
        <iframe class="w-full h-full px-2 py-3" src="https://www.youtube.com/embed/f6HeERlhSLs?list=PLlT1hSoitj5Q6xtF3u5avin0g1IgA0sk-" title="James Grimes - my gambling addiction story" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</div>
