@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.button-container {
  background-position-x: 95%;
  background-position-y: 20%;
  background-size: 64px 64px;
  background-repeat: no-repeat;
}

#help-yourself-component{
  background-image: url(../../images/main-page/self-confrontation.png);
}

#support-group-elem{
  background-image: url(../../images/main-page/conversation.png);
}

#asking-for-help-elem{
  background-image: url(../../images/main-page/handshake.png);
}

#star-img-container {
  background-image: url(../../images/course-page/course-first-page/star-icon.svg);
  background-size: cover;
}

@media screen and (max-width: 650px) {
  #star-img-container{
    background-image: none;
  }
  #level-indicator{
    width: 35px;
    height: 35px;
    background-color: rgb(253 224 71);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#product-name{
  font-size: large;
  font-family: 'Rubik', sans-serif;
}
